.footer {
    background-color: #efefef;
    padding: 5rem 2rem;
    box-sizing: border-box;
    min-height: 35rem;
}

.footer .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .title {
    font-family: 'MontserratSemiBold';
    color: #2779f5;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer.line-about {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.footer .line-about hr {
    display: block;
    width: 100%;
    border: 1px solid #2779f5;
    margin-bottom: 3rem;
}

.footer input {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.footer .social-media-menu {
    width: 100%;
    margin-top: 6rem;
}

.footer .social-media-item {
    background-color: #2779f5;
}

.footer-slide {
    opacity: 0;
}

.about .title {
    font-family: 'MontserratSemiBold', sans-serif !important;
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 1px #2779f5;
    margin-bottom: 2rem;
}


.about .text {
    font-family: 'MontserratLight', sans-serif;
    font-size: 4.5vw;
    line-height: 7vw;
    color: white;
    margin-bottom: 4rem;
}

.about .view-more,
.footer .send {
    font-family: 'MontserratSemiBold', sans-serif;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    background-color: #2779f5;
    color: white;
    border: none;
    cursor: pointer !important;
}

.about .view-more:hover,
.footer .send:hover {
    background-color: white;
    color: #2779f5;
}

@media screen and (min-width: 450px) {
    .about .title {
        font-size: 4vw;
    }

    .about .text {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 750px) {
    .footer .title-container {
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 1rem;
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 7rem;
        box-sizing: border-box;
    }

    .about .title {
        font-size: 6vw;
        line-height: 7vw;
        padding-right: 2rem;
        width: 50%;
        box-sizing: border-box;
        word-break: break-word;
    }

    .about .description {
        width: 50%;
    }

    .about .text {
        line-height: 5vw;
    }

    .footer .line-about {
        padding: 0 7rem;
    }
}

@media screen and (min-width: 1000px) {
    .about .title {
        font-size: 4vw;
        line-height: 5vw;
    }

    .about .text {
        font-size: 1.5vw;
        line-height: 2vw;
    }
}