.homepage {
    position: relative;
    z-index: -1;
}

.featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2779f5;
    padding: 8rem 3rem;
    padding-bottom: 3rem;
    box-sizing: border-box;
}

.featured .container {
    position: relative;
    width: 100%;
}

.featured .scroll-down {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80vh;
    left: 0;
}

.featured .scroll-down img {
    width: 1.3rem;
    height: 4rem;
}

.featured .scroll-down div {
    font-family: 'MontserratBold', sans-serif;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    transform: rotate(-90deg);
    margin-bottom: 5rem;
    opacity: 0.8;
}

.dot-container {
    display: none;
}

.dot {
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #2e2d38;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.side-button {
    display: none;
}

.bottom-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 3rem;
}

.bottom-button button {
    margin-right: 0.5rem;
}

.side-button button,
.bottom-button button {
    width: 5rem;
    height: 5rem;
    background-color: #2e2d38;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.side-button button:hover,
.bottom-button button:hover {
    background-color: white;
}

.side-button button .icon-left{
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
    transform: rotate(180deg);
}

.bottom-button button .icon-left{
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
    transform: rotate(180deg);
}

.side-button button .icon-right{
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
}

.bottom-button button .icon-right {
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
}

.side-button button:hover .icon-left,
.side-button button:hover .icon-right,
.bottom-button button:hover .icon-left,
.bottom-button button:hover .icon-right  {
    background-image: url('/svg/icon-arrow-black.svg');
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
}

.slide-content .content {
    width: 100%;
    box-sizing: border-box;
}

.slide-content img {
    width: 100%;
    margin-bottom: 5rem;
    object-fit: cover;
}

.slide-content .title{
    font-family: 'MontserratSemiBold', sans-serif;
    color: white;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}

.slide-content .heading-1 {
    margin-bottom: 1rem;
    font-family: 'MontserratSemiBold', sans-serif;
    color: #2e2d38;
    font-size: 1.5rem;
    line-height: 2rem;
}

.slide-content .heading-2 {
    font-family: 'MontserratMedium', sans-serif;
    color: #2e2d38;
    font-size: 1.5rem;
    line-height: 2rem;
}

.slide-content .short-line{
    width: 5rem;
    height: 0.3rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: #2e2d38;
}

.slide-content .date {
    font-family: 'Montserrat', sans-serif;
    color: #2e2d38;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.slide-content .view-more {
    color: white;
    background-color: #2e2d38;
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.2s;
}

.slide-content .view-more:hover {
    color: #2e2d38;
    background-color: white;
}

.featured-content {
    display: none;
}

.article {
    background-color: #2e2d38;
    padding: 5rem 2rem;
    box-sizing: border-box;
    min-height: 35rem;
}

.article .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article .title {
    font-family: 'MontserratSemiBold';
    color: #2779f5;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.article .view-all {
    font-family: 'MontserratSemiBold';
    color: #2779f5;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.article .button-mobile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.article .button-mobile button {
    width: 3rem;
    height: 3rem;
    background-color: #2779f5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.article .button-mobile button:first-child {
    margin-right: 1rem;
}

.article .button-mobile button:last-child {
    margin-left: 1rem;
}

.article .button-mobile .icon-left{
    width: 1.1rem;
    height: 1.1rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
    transform: rotate(180deg);
}

.article .button-mobile .icon-right{
    width: 1.1rem;
    height: 1.1rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
}

.article .button-mobile:hover .icon-left,
.article .button-desktop:hover .icon-left {
    background-image: url('/svg/icon-arrow-black.svg');
}

.article .button-mobile:hover .icon-right,
.article .button-desktop:hover .icon-right {
    background-image: url('/svg/icon-arrow-black.svg');
}

.article .button-mobile button:hover,
.article .button-desktop button:hover {
    background-color: white;
}

.article .button-desktop button {
    width: 5rem;
    height: 5rem;
    background-color: #2779f5;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    display: none;
}

.article .button-desktop .icon-left{
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
    transform: rotate(180deg);
}

.article .button-desktop .icon-right{
    width: 1.6rem;
    height: 1.6rem;
    background-image: url('/svg/icon-arrow-white.svg');
    background-position: center;
    background-size: cover;
    margin: auto;
}

.article .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.article .slide-outer-container {
    width: 100%;
    overflow: hidden;
}

.article  .slide-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    transition: 0.2s;
}

.article .container .slide-container .item {
    position: relative;
    width: 35vw;
    height: 50vw;
    margin-right: 2rem;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
}

.article .container .slide-container .item img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: 1s;
}

.article .container .slide-container .item img:hover {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transform: scale(1.25);
}

.article .container .slide-container .item .description {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(46, 45, 56, 0.8);
    padding: 1rem;
    box-sizing: border-box;
    z-index: 2;
}

.article .container .slide-container .item .description .date {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: white;
    margin-bottom: 0.5rem;
}

.article .container .slide-container .item .description .title {
    font-family: 'MontserratMedium', sans-serif;
    font-size: 3.5vw;
    line-height: 3.5vw;
    height: 13.5vw;
    overflow: hidden;
    color: white;
    text-transform: capitalize;
}

.about .title {
    font-family: 'MontserratSemiBold', sans-serif !important;
    font-size: 8vw;
    color: transparent;
    -webkit-text-stroke: 1px #2779f5;
    margin-bottom: 2rem;
}


.about .text {
    font-family: 'MontserratLight', sans-serif;
    font-size: 4.5vw;
    line-height: 7vw;
    color: white;
    margin-bottom: 4rem;
}

.about .view-more,
.article .send {
    font-family: 'MontserratSemiBold', sans-serif;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    background-color: #2779f5;
    color: white;
    border: none;
}

.about .view-more:hover,
.article .send:hover {
    background-color: white;
    color: #2779f5;
}

hr {
    display: none;
}

.line-about {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2rem;
}

.line-about hr {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2779f5;
}

.article input {
    width: 100%;
    font-size: 1.4rem;
    padding: 1rem;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.article .social-media-menu {
    width: 100%;
    margin-top: 6rem;
}

.article .social-media-item {
    background-color: #2779f5;
}

.article-slide {
    opacity: 0;
}

@media screen and (min-width: 450px) {
    .slide-content .title{
        font-size: 5vw;
    }

    .slide-content img {
        height: calc(100vh - 10rem) !important;
    }

    .article .container .slide-container .item {
        width: 25vw;
        height: 30vw;
    }

    .article .title {
        font-size: 2vw;
    }
    
    .article .view-all {
        font-size: 2vw;
    }

    .article .container .slide-container .item .description .title {
        font-size: 2vw;
        line-height: 2vw;
        height: 6vw;
    }

    .about .title {
        font-size: 4vw;
    }

    .about .text {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 750px) {
    .featured {
        padding: 10rem 3rem 5rem 3rem;
    }

    .featured .scroll-down {
        display: flex;
    }

    .bottom-button {
        display: none;
    }

    .slide-content {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        min-height: calc(100vh - 15rem);
    }
    
    .slide-content .content {
        width: 60%;
        padding-right: 1rem;
    }
    
    .slide-content img {
        width: 40%;
        height: calc(100vh - 20rem) !important;
        object-fit: cover;
        margin-bottom: 0;
    }

    .dot-container {
        display: block;
        padding: 0 1rem;
    }
    
    .side-button {
        display: block;
        padding: 0 2rem;
    }

    .slide-content .heading-1 {
        margin-bottom: 1rem;
        font-family: 'MontserratSemiBold', sans-serif;
        color: #2e2d38;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .slide-content .heading-2 {
        font-family: 'MontserratMedium', sans-serif;
        color: #2e2d38;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .slide-content .date {
        font-family: 'Montserrat', sans-serif;
        color: #2e2d38;
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    .slide-content .title{
        font-size: 4vw;
    }

    .line {
        padding: 0 7rem;
        width: 100%;
        box-sizing: border-box;
    }

    hr {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #2779f5;
    }

    .article .container {
        margin-top: 4rem;
    }

    .article .container .slide-container .item .description .date {
        font-size: 1.5vw;
    }
    
    .article .container .slide-container .item .description .title {
        font-size: 2vw;
        line-height: 2vw;
        height: 10vw;
    }

    .article .title-container {
        padding-left: 7rem;
        padding-right: 7rem;
        padding-bottom: 1rem;
        /* border-bottom: 1px solid #2779f5; */
    }

    .article .button-mobile button {
        display: none;
    }

    .article .slide-outer-container {
        width: calc(100% - 14rem);
    }

    .article .button-desktop {
        padding: 1rem;
    }

    .article .button-desktop button {
        display: block;
    }

    .article .container .slide-container .item {
        margin-right: 4rem;
    }

    .article .container .slide-container .item .description {
        padding: 2rem;
    }

    .about {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 7rem;
        box-sizing: border-box;
    }

    .about .title {
        font-size: 6vw;
        line-height: 7vw;
        padding-right: 2rem;
        width: 50%;
        box-sizing: border-box;
        word-break: break-word;
    }

    .about .description {
        width: 50%;
    }

    .about .text {
        line-height: 5vw;
    }

    .line-about {
        padding: 0 7rem;
    }
}

@media screen and (min-width: 1000px) {
    .slide-content img {
        width: 40%;
        height: calc(100vh - 15rem) !important;
        object-fit: cover;
        margin-bottom: 0;
    }

    .slide-content .content {
        padding-right: 10rem;
    }

    .article .container .slide-container .item .description .date {
        font-size: 0.9vw;
    }
    
    .article .container .slide-container .item .description .title {
        font-size: 1vw;
        line-height: 1vw;
        height: 10vw;
    }

    .article .title {
        font-size: 1vw;
    }
    
    .article .view-all {
        font-size: 1vw;
    }

    .article .container .slide-container .item {
        width: 20vw;
        height: 22vw;
    }

    .about .title {
        font-size: 4vw;
        line-height: 5vw;
    }

    .about .text {
        font-size: 1.5vw;
        line-height: 2vw;
    }
}